.App {
  display: flex;
}

.main-sidebar {
  display: flex;
  flex-direction: column;
  width: 100px;
  border-right: 1px solid rgb(206, 204, 204);
}

.sidebar {
  width: 250px;
  background-color: white;
  color: black;
  overflow-x: hidden;
  transition: 0.3s;
  padding: 0px 30px;
  border-right: 1px solid rgb(206, 204, 204);
}

.sidebar.open {
  width: 0;
  display: none;
  transition: 0.3s;
}

.toggle-button {
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  color: rgb(22, 149, 180);
}

nav {
  padding-top: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

a:hover {
  text-decoration: none;
}
@media screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}
